{{- $leafletCss := resources.Get "new_leaflet/leaflet.css" | minify }}
<link rel="stylesheet" href="{{ $leafletCss.RelPermalink }}" />
{{- $leafletGpsCss := resources.Get "leaflet/leaflet-gps.src.css" | minify }}
<link rel="stylesheet" href="{{ $leafletGpsCss.RelPermalink }}" />
{{- $leafletJs := resources.Get "leaflet/leaflet.src.js" }}
{{- $leafletZoomFsJs := resources.Get "leaflet/leaflet.zoomfs.js" }}
{{- $leafletGpsJs := resources.Get "leaflet/leaflet-gps.src.js" }}
{{- $leafletBundleJs := slice $leafletJs $leafletZoomFsJs $leafletGpsJs | resources.Concat "leaflet/leaflet-bundle.js" | minify }}
<script src="{{ $leafletBundleJs.RelPermalink }}"></script>
{{- $drawMapJs := resources.Get "js/draw-map.js" | js.Build | minify }}
<script src="{{ $drawMapJs.RelPermalink }}"></script>
