{{ define "main" }}

{{ $Pages := .Pages }}

<article>
  <header><h1>{{ .Title | default "Posts" | humanize }}</h1></header>
  {{ partial "map-placeholder.html" }}
  {{- $colours := slice "黃店" "綠店" "藍店" }}
  <h2>目錄</h2>
  <ul class="box-list">
    {{- range $colours }}
    <li><a href="#{{ . }}">{{ . }}</a></li>
    {{- end }}
  </ul>
  {{- range $colours }}
  <section>
  <h2 id="{{ . }}">{{ . }}</h2>
  {{ partial "shops-by-category.html" (dict "colour" . "pages" (where $Pages "Params.colours" .)) }}
  </section>
  {{- end }}
  {{ .Content }}
</article>
{{ end }}
{{ define "js" }}
{{ partial "draw-map.html" }}
{{ end }}
