baseURL: ""
disableKinds: ["RSS"]
disablePathToLower: true
enableRobotsTXT: true
languageCode: zh-Hant
title: 黃藍列表
theme: contrast-hugo
markup:
  goldmark:
    renderer:
      unsafe: true
taxonomies:
  district: districts
  colour: colours
  category: categories
menu:
  main:
  - name: 搜尋店舖
    url: shops/
    weight: 1
  - name: 改動
    url: changelogs/
    weight: 4
  - name: 分類
    url: categories/
    weight: 3
  - name: 分區
    url: districts/
    weight: 2
outputs:
  section:
  - HTML
  - JSON
  - NoJsHtml
  term:
  - HTML
  - JSON
outputFormats:
  NoJsHtml:
    mediaType: text/html
    path: no-js
    baseName: index
module:
  mounts:
  - source: static
    target: static
  - source: assets
    target: assets
  - source: node_modules/leaflet/dist
    target: assets/new_leaflet
    includeFiles: /leaflet.css
  - source: node_modules/leaflet/dist/images
    target: static/new_leaflet/images
  - source: node_modules/leaflet.locatecontrol/dist
    target: assets/leaflet.locatecontrol/css
    includeFiles: /L.Control.Locate.css
  - source: node_modules/leaflet.locatecontrol
    target: static/leaflet.locatecontrol
    includeFiles: /*.svg
  - source: node_modules/leaflet.fullscreen
    target: assets/leaflet.fullscreen
    includeFiles: /Control.FullScreen.css
  - source: node_modules/leaflet.fullscreen
    target: static/leaflet.fullscreen
    includeFiles: /icon-fullscreen.svg
