baseURL: ""
disableKinds: ["RSS"]
disablePathToLower: true
enableGitInfo: true
enableRobotsTXT: true
languageCode: zh-Hant
title: 黃藍列表
theme: contrast-hugo
markup:
  goldmark:
    renderer:
      unsafe: true
taxonomies:
  district: districts
  colour: colours
  category: categories
menu:
  main:
  - name: 搜尋店舖
    url: shops/
    weight: 1
  - name: 改動
    url: changelogs/
    weight: 4
  - name: 分類
    url: categories/
    weight: 3
  - name: 分區
    url: districts/
    weight: 2
outputs:
  section:
  - HTML
  - JSON
  - NoJsHtml
  term:
  - HTML
  - JSON
outputFormats:
  NoJsHtml:
    mediaType: text/html
    path: no-js
    baseName: index
