{{ define "main" }}

{{ $Pages := .Pages.ByTitle }}

<article>
<header><h1>{{ .Title | default "Posts" | humanize }}</h1></header>
<div id="search-container"><label for="search-shop-textbox">搜尋店舖 (<span id="search-count">0</span>間):</label><input id="search-shop-textbox" type="search" placeholder="店名" autofocus></div>
<div id="list-container">
  <div class="fallback">
    <p class="show-when-loading">列表正在載入中，請耐心等候⋯⋯</p>
    <p class="hide-when-loading">此列表需要JavaScript以改善效能但你的瀏覽器似乎停用了JavaScript</p>
    <p>你也可以使用<a href='{{ (.OutputFormats.Get "NoJsHtml").RelPermalink }}'>檔案較大(約3MB)、效能較差的傳統列表</a></p>
  </div>
</div>
</article>

<template id="list-item-template">
  {{ partial "list-item-shop-with-dict.html" (dict "colourClass" "" "relPermalink" "" "title" "" "districts" "" "categories" "" "colours" "") }}
</template>

{{ end }}
{{ define "js" }}
{{ $built := resources.Get "js/render-full-list.js" | js.Build (dict "targetPath" "js/render-full-list.js" "params" site.Data.lists "minify" true) }}
<script src="{{ $built.RelPermalink }}" defer></script>
{{ end }}