{{ define "main" }}

{{ $Pages := .Pages }}

<article>
<header><h1>{{ .Title | default "Posts" | humanize }}</h1></header>
<div id="search-container"><label for="search-shop-textbox">搜尋店舖:</label><input id="search-shop-textbox" type="text" placeholder="店名"></div>
<div id="list-container"></div>
</article>

{{ $built := resources.Get "js/render-full-list.js" | js.Build (dict "targetPath" "render-full-list.js" "params" site.Data.lists) }}
<script src="{{ $built.RelPermalink }}" defer></script>

<template id="list-item-template">
  {{ partial "list-item-shop-with-dict.html" (dict "colourClass" "" "relPermalink" "" "title" "" "districts" "" "categories" "" "colours" "") }}
</template>

{{ end }}
