{{ define "title" }}{{ .Title }} ({{ .Params.colours }}) | {{ .Site.Title }}{{ end }}

{{ define "customDescription"}}
<meta name="description" content="位於{{ partial "format-meta-desc-district.html" .Params.districts }}嘅{{ .Params.categories }}{{ index .Site.Data.lists.colour_emoji_mappings .Params.colours }}店">
{{- end }}

{{ define "main" }}

<article>
  <header>
    <div class="flex">
      <span class="tag"><a href="{{ ($.Site.GetPage (printf "/%s/%s" "districts" .Params.districts)).RelPermalink }}">{{ .Params.districts | upper }}</a></span>
      <span class="tag"><a href="{{ ($.Site.GetPage (printf "/%s/%s" "categories" .Params.categories)).RelPermalink }}">{{ .Params.categories | upper }}</a></span>
    </div>
    <h1 class="{{ partial "get-colour-class.html" .Params.colours }}">{{ .Title }} ({{ .Params.colours }})</h1>
    <p><a href="https://www.openstreetmap.org/?&mlat={{ .Params.lat }}&mlon={{ .Params.lng }}#map=17/{{ .Params.lat }}/{{ .Params.lng }}">地圖</a></p>
  </header>
  {{ .Content }}
</article>

{{ end }}
